<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/output.css">
  <title>Mty Todo Application</title>
  <script>
    function updateTodo(id) {
      fetch(`/todos/${id}/markAsCompleted`, {
        method: "put",
        headers: { "Content-Type": "application/json" },
      })
        .then((res) => {
          if (res.ok) {
            window.location.reload();
          }
        })
        .catch((err) => console.error(err));
    }
    function deleteTodo(id) {
      fetch(`/todos/${id}`, {
        method: "delete",
        headers: { "Content-Type": "application/json" },
      })
        .then((res) => {
          if (res.ok) {
            window.location.reload();
          }
        })
        .catch((err) => console.error(err));
    }
  </script>
</head>

<body>

  <div class="grid grid-cols-6">
    <div class="col-start-3 col-span-2">
      <%- include('header.ejs') %>
        <form action="/todos" method="post">
          <div class="flex gap-2 py-4">
            <div class="flex-auto">
              <input required type="text" placeholder="what's next?" name="title" id="todo"
                class="border border-gray-300 text-gray-900 w-full rounded p-2 text-sm">
            </div>
            <div class="flex-auto">
              <input required type="date" name="dueDate" id="date"
                class="border border-gray-300 text-gray-900 w-full p-2 text-sm leading-4">
            </div>
            <div class="flex-none">
              <button type="submit"
                class="bg-green-600 text-white px-5 py-2 rounded font-medium mr-2 mb-2 py-1.5">Add</button>
            </div>
          </div>
        </form>
        <%- include('todos.ejs', {title: "Overdue" , data: overdueTodos}) %>
          <%- include('todos.ejs', {title: "Due Today" , data: dueTodayTodos}) %>
            <%- include('todos.ejs', {title: "Due Later" , data: dueLaterTodos}) %>
    </div>
  </div>


</body>

</html>